<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="//cdnjs.loli.net/ajax/libs/mdui/0.4.2/css/mdui.min.css">
    <!--<link href="/md/static/md/css/mdui.min0.2.1.css" rel="stylesheet">-->
    <meta name="msvalidate.01" content="7F5A4F41F59B7840336A1530F6D3474E"/>
    {% block header %}{% endblock %}


</head>
<body class="mdui-theme-primary-indigo mdui-theme-accent-pink">
{% block content %}{% endblock %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="//cdnjs.loli.net/ajax/libs/mdui/0.4.2/js/mdui.min.js"></script>
{% block script %}{% endblock %}
</body>
</html>