[[source]]
name = "pypi"
url = "https://pypi.douban.com/simple/"
verify_ssl = true

[packages]
motor = ""
Sanic = "*"
jieba = "*"
ruia-ua = "==0.0.1"
ruia = "==0.0.2"
"jinja2" = "*"
aiocache = "*"
numpy = "*"

[dev-packages]
ipython = "*"

[requires]
python_version = "3.6"
