[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true

[packages]
motor = "==2.3.0"
Sanic = "==20.12.7"
jieba = "==0.42.1"
ruia-ua = "==0.0.2"
ruia = "==0.8.0"
"jinja2" = "==2.11.2"
aiocache = "==0.11.1"
numpy = "==1.19.4"

[dev-packages]
ipython = "*"
isort = "*"
black = "*"

[requires]
python_version = "3.6"
